@font-face {
  font-family: 'Nexa';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/Nexa-Light.woff2') format('woff2'),
         url('fonts/Nexa-Light.woff') format('woff'),
         url('fonts/Nexa-Light.otf') format('otf');
}

@font-face {
  font-family: 'Nexa';
  font-style: normal;
  font-weight: bold;
  src: url('fonts/Nexa-Bold.woff2') format('woff2'),
         url('fonts/Nexa-Bold-webfont.woff') format('woff'),
         url('fonts/Nexa-Bold.otf')format('otf');
}