body {
	font: 14px 'Nexa', Arial, Verdana, sans-serif;
}

.home-inspection {
	width: 1900px;
	height: 8219px;
	background: url("../images/inspection-home.jpg") no-repeat center;
	position: absolute;
	left: 50%;
	margin-left: -950px;
	z-index: 100;
	opacity: 0.5;
	pointer-events: none;
}

.portfolio-inspection {
	width: 1900px;
	height: 4641px;
	background: url("../images/inspection-portfolio.jpg") no-repeat center;
	position: absolute;
	left: 50%;
	margin-left: -950px;
	z-index: 100;
	opacity: 0.5;
	pointer-events: none;
}

.team-inspection {
	width: 1900px;
	height: 3947px;
	background: url("../images/inspection-team.jpg") no-repeat center;
	position: absolute;
	left: 50%;
	margin-left: -950px;
	z-index: 100;
	opacity: 0.5;
	pointer-events: none;
}

.contact-inspection {
	width: 1900px;
	height: 1811px;
	background: url("../images/inspection-contact.jpg") no-repeat center;
	position: absolute;
	left: 50%;
	margin-left: -950px;
	z-index: 100;
	opacity: 0.5;
	pointer-events: none;
}

.clearfix {
	clear: both;
}

a {
	text-decoration: none;
}

.central {
	min-width: 1800px;
	margin: 0 auto;
}

.header {
	.central {
		.header-top {
			display: flex;
			justify-content: space-between;
			.logo {
				margin: 0 0 0 92px;
			}
			.menu {
				margin: 8px 86px 0 0;
				.menu-inner {
					display: flex;
					justify-content: space-between;
					.menu-element {
						margin: 0 81px 0 0;
						.menu-link {
							font-size: 25.4px;
							font-weight: 300;
							color: #ffffff;
							&:hover {
								text-shadow: 0px 0px 5px white;
								transition: text-shadow 0.3s ease;
							}
						}
						.menu-link_active {
							text-shadow: 0px 0px 5px white;
						}
					}
					.menu-element:last-child {
						margin: 0;
					}
				}
			}
		}
	}
}

.navbar-default {
	background-color: transparent;
	border: none;
	.navbar-collapse {
		border: none;
		box-shadow: none;
	}
}

.form-section {
	.central {
		.form-content {
			width: 1482px;
			margin: 0 auto;
			background: url("../images/form-bg.jpg") no-repeat;
			background-size: 100% 100%;
			.form-central {
				width: 969px;
				margin: 0 auto;
				.form {
					margin: 61px 0 0 0;
					.form-label-wrapper {
						font-size: 24px;
						font-weight: 300;
						color: #ffffff;
						display: block;
						min-width: 400px;
						flex-grow: 1;
						flex-shrink: 0;
						.form-label {
							margin: 0 0 0 18px;
						}
					}
					.inputs-wrapper {
						display: flex;
						justify-content: space-between;
						flex-wrap: wrap;
						.form-label-wrapper {
							min-width: 400px;
							flex-grow: 1;
							flex-shrink: 0;
							.form-label {
								margin-left: 5%;
								margin-right: 5%;
							}
							.form-input {
								width: 90%;
								height: 52px;
								margin: 24px 0 29px 0;
								margin-left: 5%;
								margin-right: 5%;
								padding: 0 35px;
								font-family: 'Nexa';
								font-size: 22px;
								font-weight: 300;
								color: #c2c2c2;
								border-radius: 26px;
								background-color: #ffffff;
								border: 0;
								box-sizing: border-box;
								display: block;
								&:focus {
									box-shadow: 0 0 5px rgba(50, 200, 255, 0.7);
									outline: none;
								}
								&::-webkit-input-placeholder {
									font-size: 22px;
									font-weight: 300;
									color: #c2c2c2;
								}
								&::-moz-placeholder {
									font-size: 22px;
									font-weight: 300;
									color: #c2c2c2;
								}
								&:-ms-input-placeholder {
									font-size: 22px;
									font-weight: 300;
									color: #c2c2c2;
								}
								&::-webkit-outer-spin-button {
									-webkit-appearance: none;
									margin: 0;
								}
								&::-webkit-inner-spin-button {
									-webkit-appearance: none;
									margin: 0;
								}
							}
						}
					}
					.form-textarea {
						width: 95%;
						margin: 11px 0 0 0;
						margin-left: 2.5%;
						margin-right: 2.5%;
						height: 166px;
						padding: 15px 35px;
						border-radius: 26px;
						background-color: #ffffff;
						font-family: 'Nexa';
						font-size: 22px;
						font-weight: 300;
						color: #c2c2c2;
						border: 0;
						resize: none;
						box-sizing: border-box;
						&:focus {
							box-shadow: 0 0 5px rgba(50, 200, 255, 0.7);
							outline: none;
						}
					}
					.form-button {
						width: 219px;
						height: 62px;
						margin: 28px 0 0 0;
						font-size: 19.6px;
						font-weight: 300;
						color: #ffffff;
						border-radius: 31px;
						background-color: #98d7ff;
						border: none;
						cursor: pointer;
						float: right;
						margin-right: 2.5%;
						&:hover {
							background-color: #89c2e6;
						}
						&:focus {
							box-shadow: 0 0 5px rgba(50, 200, 255, 0.7);
							outline: none;
						}
					}
				}
			}
		}
	}
}

.footer {
	padding: 46px 0 56px 0;
	background-color: #363d4e;
	.central {
		display: flex;
		justify-content: space-between;
		.footer-name {
			margin: 0 0 0 66px;
			font-size: 20.6px;
			font-weight: 300;
			color: #ffffff;
		}
		.footer-links {
			display: flex;
			.footer-link {
				margin: 0 59px 0 0;
				font-size: 20.6px;
				font-weight: 300;
				color: #ffffff;
			}
		}
	}
}

// index.html
.home-header {
	padding: 61px 0 0 0;
	background: url("../images/home-header-bg.jpg") no-repeat center;
	background-size: cover;
	.central {
		background: url("../images/header-globe.png") no-repeat;
		background-position: right 76px bottom 0;
		.header-content {
			width: 700px;
			margin: 234px 0 0 148px;
			padding: 0 0 216px 0;
			.title {
				width: 458px;
				font-size: 44.5px;
				font-weight: bold;
				color: #ffffff;
			}
			.line {
				width: 65px;
				height: 12px;
				margin: 28px 0 0 0;
				border-radius: 6px;
				background-color: #98d7ff;
			}
			.text {
				margin: 64px 0 0 0;
				font-size: 25px;
				font-weight: 300;
				color: #ffffff;
			}
			.button {
				width: 287px;
				height: 48px;
				margin: 76px 0 0 0;
				border-radius: 24px;
				background-color: #83c9f6;
				font-size: 19.6px;
				font-weight: 300;
				color: #ffffff;
				line-height: 48px;
				display: block;
				text-align: center;
				&:hover {
					background-color: #89c2e6;
				}
			}
		}
	}
}

.home-advantages {
	padding: 332px 0 256px 0;
	text-align: center;
	.central {
		.title {
			font-size: 39px;
			font-weight: bold;
			color: #575a8e;
		}
		.line {
			width: 93px;
			height: 9px;
			margin: 12px 0 0 0;
			border-radius: 4.5px;
			background-color: #98d7ff;
			display: inline-block;
		}
		.text {
			width: 1433px;
			margin: 0 auto;
			margin-top: 81px;
			display: block;
			.paragraph {
				font-size: 25.8px;
				font-weight: 300;
				color: #404040;
			}
			.paragraph:first-child {
				margin: 0 0 29px 0;
			}
		}
		.button {
			width: 203px;
			height: 54px;
			margin: 61px 0 0 0;
			border-radius: 27px;
			background-color: #98d7ff;
			font-size: 19.6px;
			font-weight: 300;
			color: #ffffff;
			line-height: 54px;
			display: inline-block;
			text-align: center;
			&:hover {
				background-color: #89c2e6;
			}
		}
	}
}

.home-services {
	padding: 134px 0 165px 0;
	text-align: center;
	background-color: #F8F5FF;
	.central {
		.title {
			font-size: 36px;
			font-weight: 300;
			color: #404040;
		}
		.blocks {
			width: 1210px;
			margin: 0 auto;
			margin-top: 126px;
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
			.block {
				width: 545px;
				margin: 0 0 96px 0;
				font-size: 25.8px;
				font-weight: 300;
				color: #404040;
				display: flex;
				align-items: center;
				.block-img-wrapper {
					width: 154px;
					height: 97px;
					display: flex;
					justify-content: center;
					align-items: center;
				}
				.block-text {
					width: 310px;
					margin: 0 0 0 75px;
					font-size: 21.5px;
					font-weight: 300;
					color: #404040;
					text-align: left;
					display: inline-block;
				}
			}
		}
	}
}

.home-partners {
	padding: 176px 0 229px 0;
	text-align: center;
	background: url("../images/partners-bg.png") no-repeat left/40.78% 100%;
	.central {
		.content-wrapper {
			width: 1775px;
			margin: 0 auto;
			padding: 127px 0 0 0;
			background: url("../images/partners-bg2.png") no-repeat top right;
			.content {
				width: 1291px;
				margin: 0 auto;
				padding: 0 0 156px 0;
				border-radius: 10px;
				background-color: #ffffff;
				box-shadow: 25.6px 78.9px 73px 0 rgba(43, 46, 54, 0.1);
				.title {
					padding: 98px 0 0 0;
					font-size: 33.3px;
					font-weight: 300;
					color: #404040;
				}
				.line {
					width: 63px;
					height: 9px;
					margin: 8px 0 0 0;
					border-radius: 3px;
					background-color: #98d7ff;
					display: inline-block;
				}
				.blocks {
					width: 862px;
					margin: 0 auto;
					margin-top: 88px;
					display: flex;
					justify-content: space-between;
					.block {
						width: 139px;
						height: 125px;
						display: flex;
						justify-content: center;
						align-items: center;
					}
				}
				.blocks1 {
					width: 612px;
					margin-top: 95px;
				}
			}
		}
	}
}

.home-numbers {
	padding: 283px 0 280px 0;
	text-align: center;
	.central {
		.title {
			font-size: 43.4px;
			font-weight: 300;
			color: #8c8fdd;
		}
		.blocks {
			width: 83%;
			margin: 0 auto;
			margin-top: 88px;
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
			.block {
				width: 34%;
				height: 145px;
				display: flex;
				justify-content: flex-end;
				align-items: flex-end;
				position: relative;
				.block-img-wrapper {
					width: 125px;
					height: 111px;
					display: flex;
					justify-content: center;
					align-items: center;
					position: absolute;
					top: 30px;
					left: 5px;
					z-index: 10;
				}
				.block-p {
					font-size: 57.9px;
					font-weight: bold;
					color: #8c8fdd;
					position: relative;
					z-index: 11;
					.block-span {
						width: 210px;
						margin: 0 0 0 26px;
						font-size: 24.5px;
						font-weight: 300;
						text-align: left;
						display: inline-block;
					}
					.block-span_n {
						width: 240px;
					}
				}
			}
		}
	}
}

.home-comments {
	padding: 199px 0 280px 0;
	text-align: center;
	.central {
		.content-wrapper {
			width: 1525px;
			margin: 0 auto;
			padding: 110px 0 0 0;
			background: url("../images/comments-quotes.png") no-repeat top left;
			.content {
				width: 1263px;
				margin: 0 auto;
				display: flex;
				.block {
					background-color: #ffffff;
					box-shadow: 3.1px 9.5px 32px 0 rgba(43, 46, 54, 0.13);
					.block-img-wrapper {
						background-color: #b4afd9;
					}
					.block-text-wrapper {
						// display: flex;
						// justify-content: center;
						// align-items: center;
						.block-text, .block-name {
							font-weight: 300;
							color: #444444;
						}
						.block-name {
							text-align: right;
						}
					}
				}
				.block-center {
					width: 573px;
					height: 779px;
					position: relative;
					z-index: 11;
					.block-img-wrapper {
						height: 533px;
						.block-img {
							width: 573px;
						}
					}
					.block-text-wrapper {
						width: 418px;
						height: 162px;
						margin: 0 auto;
						margin-top: 29px;
						background: url("../images/comments-quotes-block-center1.png") no-repeat top left,
						url("../images/comments-quotes-block-center2.png") no-repeat bottom right 22px;
						.block-text {
							padding: 46px 0 0 0;
						}
						.block-text, .block-name {
							font-size: 15.6px;
						}
						.block-name {
							margin: 16px 61px 0 0;
						}
					}
				}
				.block-left, .block-right {
					width: 478px;
					height: 650px;
					margin: 65px 0 0 0;
					position: relative;
					z-index: 10;
					opacity: 0.5;
					.block-img-wrapper {
						height: 446px;
						.block-img {
							width: 478px;
						}
					}
					.block-text-wrapper {
						width: 350px;
						height: 137px;
						margin: 0 auto;
						margin-top: 22px;
						background: url("../images/comments-quotes-block-side1.png") no-repeat top left,
						url("../images/comments-quotes-block-side2.png") no-repeat bottom right 18px;
						.block-text {
							padding: 36px 0 0 0;
						}
						.block-text, .block-name {
							font-size: 13px;
						}
						.block-name {
							margin: 17px 51px 0 0;
						}
					}
				}
				.block-left {
					margin-right: -133px;
				}
				.block-right {
					margin-left: -133px;
				}
			}
		}
	}
}

.home-form-section {
	padding: 115px 0 317px 0;
	.central {
		.form-content {
			padding: 92px 0 90px 0;
			.form-central {
				text-align: center;
				.form-title {
					font-size: 30px;
					font-weight: 300;
					color: #ffffff;
				}
				.form-line {
					width: 44px;
					height: 10px;
					margin: 10px 0 0 0;
					border-radius: 5px;
					background-color: #98d7ff;
					display: inline-block;
				}
				.form {
					text-align: left;
				}
			}
		}
	}
}

// portfolio.html
.portfolio-header {
	padding: 61px 0 334px 0;
	background: url("../images/portfolio-header-bg.jpg") no-repeat center;
	background-size: cover;
}

.portfolio-projects {
	margin: -334px 0 0 0;
	.central {
		.content {
			width: 1546px;
			margin: 0 auto;
			margin-top: 110px;
			text-align: center;
			.title {
				font-size: 36px;
				font-weight: bold;
				color: #ffffff;
			}
			.line {
				width: 65px;
				height: 12px;
				margin: 18px 0 0 0;
				border-radius: 6px;
				background-color: #98d7ff;
				display: inline-block;
			}
			.text-wrapper {
				width: 1546px;
				margin: 84px 0 0 0;
				padding: 101px 0 63px 0;
				background-color: #ffffff;
				box-shadow: 7.1px 21.9px 43px 0 rgba(43, 46, 54, 0.19);
				.text {
					width: 1308px;
					margin: 0 auto;
					font-size: 28px;
					font-weight: 300;
					color: #333333;
				}	
			}
		}
	}
}

.portfolio-main {
	padding: 110px 0 0 0;
	text-align: center;
	.central {
		.blocks {
			width: 1559px;
			margin: 0 auto;
			.blocks-left-column {
				float: left;
			}
			.blocks-right-column {
				float: right;
			}
			.block {
				width: 643px;
				margin: 0 68px 126px 68px;
				.block-img {
					width: 643px;
					position: relative;
					z-index: 10;
				}
				.block-logo-wrapper {
					width: 158px;
					height: 158px;
					margin: 0 auto;
					margin-top: -62px;
					border-radius: 50%;
					background-color: #ffffff;
					display: flex;
					justify-content: center;
					align-items: center;
					position: relative;
					z-index: 11;
				}
				.block-title {
					width: 580px;
					margin: 0 auto;
					margin-top: 6px;
					font-size: 23px;
					font-weight: bold;
					color: #2b2a2a;
				}
				.block-p {
					width: 580px;
					margin: 0 auto;
					margin-top: 17px;
					font-size: 21px;
					font-weight: 300;
					color: #2b2a2a;
				}
			}
		}
	}
}

// team.html
.team-header {
	padding: 61px 0 75px 0;
	background: url("../images/team-header-bg.jpg") no-repeat center;
	background-size: cover;
	.central {
		.header-content {
			width: 1112px;
			margin: 0 auto;
			margin-top: 110px;
			text-align: center;
			.title {
				font-size: 34.8px;
				font-weight: bold;
				color: #ffffff;
			}
			.line {
				width: 65px;
				height: 12px;
				margin: 19px 0 0 0;
				border-radius: 6px;
				background-color: #98d7ff;
				display: inline-block;
			}
			.text {
				margin: 71px 0 0 0;
				font-size: 26px;
				font-weight: 300;
				color: #ffffff;
			}
		}
	}
}

.team-main {
	padding: 74px 0 0 0;
	.central {
		.blocks {
			width: 1784px;
			margin: 0 auto;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			.block {
				width: 556px;
				margin: 0 0 121px 0;
				padding: 0 0 70px 0;
				text-align: center;
				box-shadow: 7.1px 21.9px 43px 0 rgba(43, 46, 54, 0.19);
				.block-img {
					width: 100%;
					background-color: #7579c9;
					vertical-align: top;
					position: relative;
					z-index: 10;
				}
				.block-line {
					width: 100%;
					height: 12px;
					margin: -2px 0 0 0;
					background-color: #7579c9;
					position: relative;
					z-index: 10;
				}
				.block-profession-wrapper {
					width: 118px;
					height: 118px;
					margin: 0 auto;
					margin-top: -52px;
					border-radius: 50%;
					background-color: #7579c9;
					display: flex;
					justify-content: center;
					align-items: center;
					position: relative;
					z-index: 11;
				}
				.block-name-employee {
					margin-top: 24px;
					font-size: 31.8px;
					font-weight: bold;
					color: #333333;
				}
				.block-name-job {
					margin-top: -4px;
					font-size: 22.7px;
					font-weight: bold;
					color: #7579c9;
				}
				.block-text {
					width: 80%;
					margin: 0 auto;
					margin-top: 8px;
					font-size: 20.3px;
					font-weight: 300;
					color: #333333;
				}
				.block-subtitle {
					margin-top: 20px;
					font-size: 23px;
					font-weight: bold;
					color: #333333;
				}
				.block-list {
					width: 80%;
					margin: 0 auto;
					margin-top: 23px;
					display: flex;
					justify-content: space-between;
					.block-list-element {
						width: 46px;
						height: 46px;
						background-color: #d7d7d7;
						border-radius: 50%;
					}
				}
			}
		}
	}
}

// contact.html
.contact-header {
	padding: 61px 0 334px 0;
	background: url("../images/contact-header-bg.jpg") no-repeat center;
	background-size: cover;
}

.contact-main {
	margin: -224px 0 0 0;
	position: relative;
	z-index: 11;
	.central {
		.content {
			width: 1546px;
			margin: 0 auto;
			text-align: center;
			.title {
				font-size: 36px;
				font-weight: bold;
				color: #ffffff;
			}
			.line {
				width: 65px;
				height: 12px;
				margin: 18px 0 0 0;
				border-radius: 6px;
				background-color: #98d7ff;
				display: inline-block;
			}
			.text-wrapper {
				width: 1266px;
				margin: 0 auto;
				margin-top: 45px;
				padding: 55px 0 53px 0;
				background-color: #ffffff;
				box-shadow: 4.9px 15.2px 35px 0 rgba(43, 46, 54, 0.15);
				.text {
					width: 1116px;
					margin: 0 auto;
					font-family: 'Nexa';
					font-size: 24px;
					font-weight: 300;
					color: #3f3f3f;
				}	
			}
		}
	}
}

.contact-form-section {
	margin: -160px 0 105px 0;
	position: relative;
	z-index: 10;
	.central {
		.form-content {
			padding: 154px 0 90px 0;
		}
	}
}

.contact-contacts {
	padding: 0 0 62px 0;
	.central {
		.blocks {
			width: 672px;
			margin: 0 auto;
			display: flex;
			.block {
				width: 224px;
				height: 161px;
				text-align: center;
				background: url("../images/contact-line.png") no-repeat right;
				.block-img-wrapper {
					width: 64px;
					height: 55px;
					margin: 0 auto;
					display: flex;
					justify-content: center;
					align-items: center;
				}
				.block-link, .block-span {
					width: 200px;
					margin: 0 auto;
					margin-top: 22px;
					font-size: 16.9px;
					font-weight: 300;
					color: #3f3f3f;
					display: inline-block;
				}
				.block-link-phone {
					margin-top: 5px;
				}
			}
			.block:last-child {
				background: none;
			}
		}
	}
}

@media (max-width: 1800px) { 
	body {
		zoom: 0.7;
	}

	.central {
		min-width: 100%;
	}

	.form-section .central .form-content  {
		width: 83%;
	}

	// index.html
	.home-advantages {
		padding: 232px 0 156px 0;
		.central .text {
			width: 45%;
		}
	}

	.home-services .central .blocks {
		width: 83%;
		.block {
			width: 30%;
			margin: 0 20px 96px 20px;
			.block-text {
				margin: 0 0 0 35px;
			}
		}
	}

	.home-partners .central .content-wrapper {
		width: 83%;
		.content {
			width: 83%;
			.blocks {
				width: 55%;
			}
			.blocks1 {
				width: 45%;
			}
		}
	}

	.home-numbers {
		padding: 183px 0 180px 0;
		.central .blocks {
			width: 83%;
		}
	}

	.home-comments {
		zoom: 1.2;
		padding: 100px 0 180px 0;
		.central .content-wrapper {
			width: 83%;
			.content {
				width: 931px;
				.block-center {
					width: 506px;
					height: 718px;
					.block-img-wrapper {
						height: 472px;
						.block-img {
							width: 506px;
						}
					}
				}
				.block-left, .block-right {
					width: 345px;
					height: 529px;
					.block-img-wrapper {
						height: 325px;
						.block-img {
							width: 345px;
						}
					}
					.block-text-wrapper {
						width: 300px;
						margin: 0 auto;
						margin-top: 30px;
					}
				}
			}
		}
	}

	.home-form-section {
		padding: 60px 0 117px 0;
	}

	// portfolio.html
	.portfolio-projects .central .content {
		width: 83%;
		.text-wrapper {
			width: 100%;
			.text {
				width: 80%;
			}	
		}
	}

	.portfolio-main .central .blocks {
		width: 83%;
		.blocks-left-column, .blocks-right-column {
			width: 45%;
			.block {
				width: 100%;
				margin: 0 0 126px 0;
				.block-img, .block-title, .block-p {
					width: 100%;
				}
			}
		}
	}

	// team.html
	.team-header .central .header-content {
		width: 83%;
	}

	.team-main {
		padding: 74px 0 0 0;
		.central .blocks {
			width: 83%;
			.block {
				width: 32%;
			}
		}
	}

	// contact.html
	.contact-main .central .content {
		width: 83%;
		.text-wrapper {
			width: 70%;
			.text {
				width: 90%;
			}	
		}
	}

	.contact-form-section {
		margin: -165px 0 105px 0;
	}
}

@media (max-width: 1200px) {
	.central {
		min-width: 100%;
	}

	.header .central .header-top .menu {
		margin: 8px 46px 0 0;
		.menu-inner {
			justify-content: space-around;
			.menu-element {
				margin: 0 41px 0 0;
				.menu-link {
					font-size: 22px;
				}
			}
		}
	}

	.form-section .central .form-content {
		width: 83%;
		.form-central {
			width: 80%;
			.form {
				.inputs-wrapper .form-label-wrapper .form-input {
					width: 90%;
				}
				.form-textarea {
					width: 95%;
				}
			}
		}
	}

	// index.html
	.home-advantages {
		padding: 132px 0 56px 0;
	}

	.home-services {
		padding: 100px 0 65px 0;;
		.central .blocks {
			width: 90%;
			justify-content: space-around;
		}
	}

	.home-partners {
		padding: 80px 0 90px 0;
		.central .content-wrapper {
			// width: 800px;
			background: none;
			.content {
				width: 100%;
				padding: 0 0 56px 0;
				.blocks {
					width: 75%;
				}
				.blocks1 {
					width: 65%;
				}
			}
		}
	}

	.home-numbers {
		padding: 83px 0 80px 0;
		.central .blocks {
			width: 90%;
			.block {
				.block-p {
					text-align: right;
					.block-span {
						width: 80%;
						margin: 0;
						text-align: right;
					}
				}
			}
		}
	}

	.home-comments {
		display: none;
	}

	// portfolio.html
	.portfolio-projects .central .content {
		width: 90%;
		.text-wrapper {
			width: 100%;
			.text {
				width: 90%;
			}
		}
	}

	.team-main {
		padding: 74px 0 0 0;
		.central .blocks {
			width: 83%;
			.block {
				width: 48%;
			}
		}
	}

	// contact.html
	.contact-form-section {
		margin: -215px 0 105px 0;
		.central .form-content {
			padding: 154px 0 90px 0;
			.form-central {
				.form {
					margin: 100px 0 0 0;
				}
			}
		}
	}
}

@media (max-width: 900px) {
	.central {
		min-width: 100%;
	}

	.header .central .header-top {
		display: block;
		text-align: center;
		.logo {
			margin: 0 30px 0 30px;
			text-align: center;
		}
		.menu {
			margin-top: 40px;
			display: inline-block;
			.menu-inner .menu-element {
				margin: 0 21px 0 0;
			}
		}
	}

	// index.html
	.home-header .central {
		background: none;
		.header-content {
			width: 60%;
			margin: 0 auto;
			margin-top: 100px;
			padding: 0 0 116px 0;
			.title {
				width: 100%;
			}
		}
	}

	.home-advantages {
		padding: 70px 0 56px 0;
	}

	.home-services {
		padding: 100px 0 65px 0;;
		.central .blocks {
			.block {
				width: 45%;
			}
		}
	}

	.home-partners {
		padding: 80px 0 90px 0;
		.central .content-wrapper {
			width: 90%;
			.content {
				width: 90%;
				padding: 0 0 56px 0;
				.blocks-wrapper {
					width: 80%;
					margin: 0 auto;
					margin-top: 30px;
					.blocks {
						width: 100%;
						margin: 0;
						display: block;
						.block {
							width: 50%;
							margin: 0 auto;
							margin-top: 20px;
							float: left;
						}
					}
				}
			}
		}
	}

	.home-numbers {
		padding: 83px 0 80px 0;
		.central .blocks {
			.block {
				width: 43%;
			}
		}
	}

	.form-section .central .form-content {
		.form-central {
			.form {
				.form-label-wrapper {
					.form-label {
						margin-left: 5%;
					}
				}
				.form-textarea {
					display: block;
					width: 90%;
					margin-left: auto;
					margin-right: auto;
				}
				.form-button {
					margin-right: 5%;
				}
			}
		}
	}

	// portfolio.html
	.portfolio-main .central {
		.blocks-left-column {
			width: 90%;
			margin: 0 auto;
		}
		.blocks {
			.blocks-left-column, .blocks-right-column {
				width: 100%;
				float: none;
				.block {
					width: 70%;
					margin: 0 auto;
					margin-bottom: 150px;
					float: none;
				}
			}
		}
	}

	// team.html
	.team-main {
		padding: 74px 0 0 0;
		.central .blocks {
			width: 83%;
			.block {
				width: 48%;
			}
		}
	}

	// contact.html
	.contact-form-section {
		margin: -250px 0 105px 0;
		.central .form-content {
			padding: 210px 0 90px 0;
		}
	}
}

@media (max-width: 600px) {
	.central {
		min-width: 100%;
	}

	.header .central .header-top {
		display: flex;
		.logo {
			margin: 0 0 0 40px;
		}
		.menu {
			margin: 0 40px 0 0;
			.menu-inner {
				display: block;
				text-align: right;
				.menu-element {
					margin: 0;
					.menu-link {
						font-size: 20px;
					}
				}
			}
		}
	}

	.form-section .central .form-content {
		width: 100%;
		background-color: #727AC3;
		.form-central {
			width: 100%;
			.form {
				.inputs-wrapper {
					.form-label-wrapper {
						.form-label {
							margin-left: 5%;
						}
						.form-input {
							width: 90%;
							margin-left: auto;
							margin-right: auto;
						}
					}
				}
				.form-textarea {
					display: block;
					width: 95%;
					margin-left: auto;
					margin-right: auto;
				}
				.form-button {
					margin-right: 2.5%;
				}
			}
		}
	}

	.footer {
		.central {
			display: block;
			text-align: center;
			.footer-name {
				margin: 0;
			}
			.footer-links {
				width: 90%;
				margin: 20px 0 0 0;
				display: inline-block;
				.footer-link {
					font-size: 18px;
					margin: 0 30px;
				}
			}
		}
	}

	// index.html
	.home-header .central .header-content {
		width: 70%;
		.title {
			width: 100%;
			font-size: 42px;
		}
		.text {
			font-size: 22px;
		}
	}

	.home-advantages {
		padding: 70px 0 56px 0;
		.central .text {
			width: 90%;
			.paragraph {
				font-size: 22px;
			}
		}
	}

	.home-services {
		padding: 100px 0 65px 0;;
		.central .blocks {
			width: 90%;
			margin-top: 0;
			.block {
				width: 90%;
				margin: 60px 0 0 0;
				display: block;
				.block-img-wrapper {
					width: 90%;
					margin: 0 auto;
				}
				.block-text {
					width: 90%;
					margin: 30px 0 0 0;
					text-align: center;
				}
			}
		}
	}

	.home-partners {
		padding: 0 0 90px 0;
	}

	.home-numbers {
		padding: 83px 0 30px 0;
		.central .blocks {
			width: 90%;
			.block {
				width: 70%;
				margin: 30px 0 30px 0;
				display: block;
				.block-img-wrapper {
					position: static;
					width: auto;
					margin-bottom: 12px;
				}
				.block-p {
					font-size: 26px;
					text-align: center;
					display: flex;
					justify-content: center;
					.block-span {
						width: auto;
						margin: 0;
						display: inline-block;
						margin-left: 8px;
					}
				}
			}
		}
	}

	.home-form-section {
		padding: 40px 0 30px 0;;
	}

	// portfolio.html
	.portfolio-projects .central .content {
		width: 90%;
		.text-wrapper {
			width: 100%;
			.text {
				width: 96%;
			}	
		}
	}

	.portfolio-main .central .blocks {
		width: 90%;
		.block {
			width: 100%;
			margin-bottom: 80px;
			.block-img, .block-title, .block-p {
				width: 100%;
			}
		}
	}

	// team.html
	.team-main {
		padding: 74px 0 0 0;
		.central .blocks {
			width: 100%;
			.block {
				width: 90%;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	// contact.html
	.contact-main .central .content {
		width: 90%;
		.text-wrapper {
			width: 90%;
			.text {
				width: 90%;
			}	
		}
	}

	.contact-form-section {
		margin: -224px 0 105px 0;
		.central .form-content {
			padding: 230px 0 90px 0;
			.form-central .form {
				margin: 100px 0 0 0;
			}
		}
	}

	.contact-contacts {
		padding: 0 0 62px 0;
		.central .blocks {
			width: 190px;
			display: block;
			.block {
				width: 190px;
				background: none;
				.block-link, .block-span {
					width: 190px;
				}
			}
		}
	}
}